@model WatchShop.DataAccess.Models.ApplicationUser

@{
    ViewData["Title"] = "Удалить пользователя";
}

<h1>Удалить пользователя</h1>

<h3>Вы уверены, что хотите удалить этого пользователя?</h3>
<div>
    <h4>@Model.Email</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Имя</dt>
        <dd class="col-sm-10">@Model.FirstName</dd>

        <dt class="col-sm-2">Фамилия</dt>
        <dd class="col-sm-10">@Model.LastName</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-secondary">Отмена</a>
    </form>
</div>