@model WatchShop.DataAccess.Models.Category

@{
    ViewData["Title"] = "Удалить категорию";
}

<h1>Удалить категорию</h1>

<h3>Вы уверены, что хотите удалить эту запись?</h3>
<div>
    <h4>@Model.Name</h4>
    <hr />

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-secondary">Отмена</a>
    </form>
</div>